{% set munin_master = salt['grains.filter_by']({
    'Debian': {
        'package': 'munin',
        'config': '/etc/munin/munin.conf',
        'config_src': 'salt://munin/files/munin.conf',
        'file_user': 'root',
        'file_group': 'root',
    },
    'RedHat': {
        'package': 'munin',
        'config': '/etc/munin/munin.conf',
        'config_src': 'salt://munin/files/munin.conf',
        'file_user': 'root',
        'file_group': 'root',
    },
    'Suse': {
        'package': 'munin',
        'config': '/etc/munin/munin.conf',
        'config_src': 'salt://munin/files/munin.conf',
        'file_user': 'root',
        'file_group': 'root',
    },
    'Arch': {
        'package': 'munin',
        'config': '/etc/munin/munin.conf',
        'config_src': 'salt://munin/files/munin.conf',
        'cron_service': '/etc/systemd/system/munin-cron.service',
        'cron_timer': '/etc/systemd/system/munin-cron.timer',
        'file_user': 'root',
        'file_group': 'root',
    },
    'Gentoo': {
        'package': 'net-analyzer/munin',
        'config': '/etc/munin/munin.conf',
        'config_src': 'salt://munin/files/munin.conf',
        'file_user': 'root',
        'file_group': 'root',
    },
    'FreeBSD': {
        'package': 'munin-master',
        'config': '/usr/local/etc/munin/munin.conf',
        'config_src': 'salt://munin/files/munin.conf',
        'file_user': 'root',
        'file_group': 'wheel',
    },
}, merge=salt['pillar.get']('munin:lookup:master')) %}

{% set munin_node = salt['grains.filter_by']({
    'Debian': {
        'package': 'munin-node',
        'service': 'munin-node',
        'config': '/etc/munin/munin-node.conf',
        'config_src': 'salt://munin/files/munin-node.conf',
        'plugin_dir': '/usr/share/munin/plugins',
        'file_user': 'root',
        'file_group': 'root',
    },
    'RedHat': {
        'package': 'munin-node',
        'service': 'munin-node',
        'config': '/etc/munin/munin-node.conf',
        'config_src': 'salt://munin/files/munin-node.conf',
        'plugin_dir': '/usr/share/munin/plugins',
        'file_user': 'root',
        'file_group': 'root',
    },
    'Suse': {
        'package': 'munin-node',
        'service': 'munin-node',
        'config': '/etc/munin/munin-node.conf',
        'config_src': 'salt://munin/files/munin-node.conf',
        'plugin_dir': '/usr/share/munin/plugins',
        'file_user': 'root',
        'file_group': 'root',
    },
    'Arch': {
        'package': 'munin-node',
        'service': 'munin-node',
        'config': '/etc/munin/munin-node.conf',
        'config_src': 'salt://munin/files/munin-node.conf',
        'plugin_dir': '/usr/lib/munin/plugins',
        'file_user': 'root',
        'file_group': 'root',
    },
    'Gentoo': {
        'package': 'net-analyzer/munin',
        'service': 'munin-node',
        'config': '/etc/munin/munin-node.conf',
        'config_src': 'salt://munin/files/munin-node.conf',
        'plugin_dir': '/usr/libexec/munin/plugins',
        'file_user': 'root',
        'file_group': 'root',
    },
    'FreeBSD': {
        'package': 'munin-node',
        'service': 'munin-node',
        'config': '/usr/local/etc/munin/munin-node.conf',
        'config_src': 'salt://munin/files/munin-node.conf',
        'plugin_dir': '/usr/local/etc/munin/plugins',
        'file_user': 'root',
        'file_group': 'wheel',
    },
}, merge=salt['pillar.get']('munin:lookup:node')) %}

{% set net_ssleay = salt['grains.filter_by']({
    'Debian': {
        'package': 'libnet-ssleay-perl',
    },
    'RedHat': {
        'package': 'perl-Net-SSLeay',
    },
    'Gentoo': {
        'package': 'dev-perl/Net-SSLeay',
    },
    'FreeBSD': {
        'package': 'perl-Net-SSLeay',
    },
}, merge=salt['pillar.get']('net_ssleay:lookup')) %}

{% set munin_tls = salt['grains.filter_by']({
    'Debian': {
        'private_key': '/etc/munin/tls/key.pem',
        'certificate': '/etc/munin/tls/crt.pem',
        'ca_certificate': '/etc/munin/tls/cacert.pem',
    },
    'RedHat': {
        'private_key': '/etc/munin/tls/key.pem',
        'certificate': '/etc/munin/tls/crt.pem',
        'ca_certificate': '/etc/munin/tls/cacert.pem',
    },
    'Gentoo': {
        'private_key': '/etc/munin/tls/key.pem',
        'certificate': '/etc/munin/tls/crt.pem',
        'ca_certificate': '/etc/munin/tls/cacert.pem',
    },
    'FreeBSD': {
        'private_key': '/usr/local/etc/munin/tls/key.pem',
        'certificate': '/usr/local/etc/munin/tls/crt.pem',
        'ca_certificate': '/usr/local/etc/munin/tls/cacert.pem',
    },
}, merge=salt['pillar.get']('munin:lookup:tls')) %}

